In [1]:
# Importando pandas e abrindo a planilha
import pandas as pd
df = pd.read_csv("bank.csv", encoding = "UTF-8", sep = ";")

In [ ]:
# Entendendo o isin

In [2]:
# Refatorando a operação usando o isin
df[(df.marital == "married") & ((df.education == "primary") | (df.education == "secondary"))].shape

(1953, 17)

In [4]:
df[(df.marital == "married") & (df.education.isin(["primary", "secondary"]))].shape

(1953, 17)

In [8]:
# Usando isin para mais de uma operação
filtro = df.isin({"marital" : ["married"], "education": ["primary", "secondary"]})
df[(filtro.marital) & (filtro.education)].shape

(1953, 17)

In [3]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no